<ul class="navbar-nav ml-auto">
    <% if (typeof user !== "undefined" && user) { %>
      <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    <% } else { %>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
    <% } %>
  </ul>
  