<%- include('./partials/header') %>
<div class="container my-5">
  <div class="alert alert-danger">
    <h1>404 - Not Found</h1>
    <p>The requested resource could not be found.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
<%- include('./partials/footer') %>